.dark-mode {
  background-color: $dark-gray;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  li {
    color: white;
  }

  a {
    color: white;
  }

  hr {
    background-color: black;
  }

  nav {
    background-color: $dark-gray;
  }

  #nav-container {
    background-color: $dark-gray;

    a {
      color: white;
    }

    li {
      color: white;
    }
  }

  .hamburger-bar {
    background-color: white;
  }

  .is-sticky {
    box-shadow: 0px 2px 5px 0px rgba(255, 254, 247, 0.2);
  }

  .hover-btn {
    border: 1px solid white;
    color: white;
  }

  .hover-btn:hover {
    background-color: white;
    color: black;
  }

  .colored-text {
    color: white;
  }

  // Navbar elements
  .hamburger-bar {
    background-color: white;
  }

  #menu {
    background-color: black;
  }

  #create-btn {
    background-image: url('../images/button-crear-gifo-hover.svg');
  }

  #create-btn:hover {
    background-image: url('../images/button-crear-gifo-modo-noc.svg');
  }
}

@include for-desktop {
  .dark-mode {
    #menu {
      background-color: transparent;
    }
  }
}
